  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  #spin, #reset {
    background: none;
    border: 1px solid black;
    font-size: 30px;
    border-radius:5px;
  }
  
  #spin:hover {
    color: rgb(0, 180, 120);
    border-color: rgb(0, 180, 120);
  }
  
  #spin:focus, #reset:focus {
    outline:none;
  }
  
  #reset:hover {
    color: red;
    border-color: red;
  }
  
  #selector {
    position: absolute;
    top: 22vh;
    right: 48.9vw;
    font-size: 40px;
    z-index: 3;
  }
  
  #result{
    font-size:50px;
    color: rgb(0, 180, 120);
  }
  
  input {
    font-size: 16px;
    border:none;
    border-bottom: 1px solid black
  }
  